<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bjfu.cms.mapper.EditorMapper">

    <select id="selectMyManuscripts" resultType="com.bjfu.cms.entity.Manuscript">
        SELECT
            ManuscriptID as manuscriptId,
            AuthorID as authorId,
            CurrentEditorID as currentEditorId,
            Title as title,
            Abstract as abstractText,
            Keywords as keywords,
            Status as status,
            SubStatus as subStatus,
            SubmissionTime as submissionTime,
            RevisionDeadline as revisionDeadline
        FROM Manuscript
        WHERE CurrentEditorID = #{editorId}
    </select>

    <insert id="batchInsertReviews">
        INSERT INTO Review (ManuscriptID, ReviewerID, Status, Deadline, InviteDate)
        VALUES
        <foreach collection="rIds" item="rId" separator=",">
            (#{msId}, #{rId}, 'Invited', #{deadline}, #{inviteDate})
        </foreach>
    </insert>

    <update id="updateManuscriptStatus">
        UPDATE Manuscript
        SET Status = #{status},
            SubStatus = #{subStatus}
        WHERE ManuscriptID = #{msId}
    </update>

    <update id="updateRecommendation">
        UPDATE Manuscript
        SET EditorRecommendation = #{editorRecommendation},
            EditorSummaryReport = #{editorSummaryReport},
            RecommendationDate = GETDATE(),
            SubStatus = 'WithEditor',
            Status = 'Processing'
        WHERE ManuscriptID = #{manuscriptId}
    </update>
</mapper>